<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:if="${not #lists.isEmpty(invalidRecords)}">
    <table BORDER="1">
      <thead>
      <tr>
       <th>Transaction Reference Number</th>
       <th>Transaction Description</th>
       <th>Comments</th>
      </tr>
      </thead>
      <tbody>
       <tr th:each="record: ${invalidRecords}">
          <td th:text="${record.transactionRefNum}" />
          <td th:text="${record.transactionDescription}" />
          <td th:text="${record.raboComments}" />
       </tr>
       </tbody>
    </table>
    </div>
    <div th:if="${#lists.isEmpty(invalidRecords)}">
      <p>Invalid File Type, Valid values are XML/CSV/blank
    </div>
</body>
</html>